# Insert the ticket

# Describe changes


# Uncomment next lines if needed
# If you see 'VAR_...', copy the '.githooks/prepare-commit-msg' to '.git/hooks/'
# Repository: VAR_REPOSITORY
# Revision  : VAR_REVISION
# Branch    : VAR_BRANCH
